.first{
    width:100%;
    height:150px;
    background-color: #D4FAFC;
    background-image:url('https://st.depositphotos.com/3470617/4869/v/450/depositphotos_48698187-stock-illustration-medicine-icons.jpg');
}
body{
    margin:0px;
}
.image{
    width:110px;
    height: 110px;
    position:relative;
    left:30px;
    top:20px;
}
.first_text{
   /* margin:1%;*/
   margin-bottom:4%;
   text-decoration:underline;
   font-family: 'Public Sans', sans-serif;
   
}
.one{
   width:300px;
   height:40px;
   border-radius:20px;
   border:0;
   padding-left:5%;
   color:#141515;
   font-family: 'Montserrat', sans-serif;
   font-size:15px;
   position:absolute;
   left:15%;
   top:5%;
}
.submit-button{
    width:20px;
    height:20px;
    color:white;
    position:absolute;
    top:7.3%;
    left:37%;
}
.resource{
    width:20px;
    height:20px;
    color:white;
    position:absolute;
    top:7.3%;
    left:70%;
}
.another{
    width:300px;
   height:40px;
   border-radius:20px;
   border:0;
   padding-left:3%;
   color:#0f1010;
   font-family: 'Montserrat', sans-serif;
   font-size:15px;
   position:absolute;
   left:50%;
   top:5%;
}
.second{
    height:fit-content;
    width:100%;
    padding:2%;
    margin-bottom:30px;
}
.button1{
    margin-right:2%;
    border:0;
    background-color:#EEEEEE;
    font-size:15px;
    position:relative;
    left:20%;
}
.button2{
    margin-right:2%;
    border:0;
    font-size:15px;
    background-color:white;
    position:relative;
    left:20%;
}
.button1:hover{
    color:blue;
}
.button2:hover{
    color:blue;
}
h2{
    font-family:sans-serif;
}
.hospital-tag{
    padding-bottom:1.5%;
}
input[type=text]{
   font-size:15px;
   padding:10px;
   width:20%;
   padding-left:40px;
   box-shadow: 2px 2px 4px #394867;
   border:none;
   border-radius:10px;
   margin-bottom:2%;
}
.image_3{
    width:20px;
    height:20px;
    color:white;
    position:relative;
    bottom:0%;
    right:23.5%;
    border:none;
}
td{
    padding-bottom:5%;
    width:10%;
    padding-left:20px;
    border-radius: 1px;
    border:0px;
}
.b1{
    background-color:#EEEEEE;
    border-spacing: auto;
    margin-left: 0px;
    border-width: 0px; 
    padding-top:3%; 
    
}
.b2{
    border-spacing: 0;
    padding-top:3%; 
   
}
table{
    border-collapse:collapse;
}
.image1{
    height:50px;
    width:50px;
    position:relative;
    top:20px;
    right:25%;
    background-color:azure;
    border-radius:50%;
}
.image2{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:25%;
    top:20px;
}
.image3{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:25%;
    top:20px;
}
.image4{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:25%;
    top:20px;
}
.image5{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:25%;
    top:20px;
}
.image6{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:30%;
    top:20px;
}
.image7{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:30%;
    top:20px;
}
.image8{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:30%;
    top:20px;
}
.image9{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:azure;
    position:relative;
    right:30%;
    top:20px;
}
.heading{
    position:relative;
    bottom:70%;
    left:40%;
    font-size:50px;
    color:#394867;
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Manrope', sans-serif;
}
.second_text{
    margin-bottom:3%;
    font-family: 'Poppins', sans-serif;
}
